body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

html {
  scroll-behavior: smooth;
}

nav {
  text-transform: uppercase;

  .navbar-brand {
    font-weight: bold;
  }
  .nav-link {
    color: #fff;
  }
  a,
  i {
    color: #fff;
    transition: 0.3s;
  }
  i {
    padding: 10px;
  }
  a:hover {
    color: #039dff;
  }
  .active {
    color: #039dff;
  }
}
